
h1{text-shadow: 2px 2px 2px;
color: blueviolet;
font-family:Georgia, 'Times New Roman', Times, serif;
font-style:italic;}

th{
    background-color:rosybrown;
    color: yellow;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px;
    
}
*{text-align: center;
    margin: auto;
    
   }*
 
 
a{text-decoration: none;
color:green;}
a:visited{
    color:purple;
}

P {
    text-align:justify;
    letter-spacing: 2px;
    line-height: 1.5em;
    font-size: 1.5vw;
    font-style:italic;
    
    
}

p:nth-of-type(2n)

{background-color: blueviolet;
font-size: x-small;

}

input:focus{background-color:blue;}

textarea:focus{background-color:blue;}
Select:focus {background-color: blue;}


     




