body{
    padding-top: 20px;
    height: 2em;
    margin-top: 3em;
    width: 30em;
    background-color: rgb(227, 236, 240);
    color:BLUE;
    font-size: 1.5em;
    margin:auto;  
   }

*/table{
    background-color: rgb(0, 140, 255);
}*/

input:hover{
    background-color:blanchedalmond;
    }    
      
    input{
        height: 1.5em;
        font-size: 1em;
        }
        button:hover{
            background-color: blue;
         }     
    input[type ="button"]{
           
           margin-top: 150px;
           margin-left: 160px;           
           padding: 40;
           border-radius: 3em;
            height: 1.5em;
            font-size: 1em;
            background-color:blue;
            background-repeat: round;
               }
         

        .flex-container{
            margin:auto;
            background-color:  rgb(151, 201, 218);          
            width: 775px;
            height: 600px;
            display:flex;
            flex-wrap: wrap;
           
        }
        
        .flex-item{
            width:200px;   
            margin:10px;
            background-color: antiquewhite;
            
        }
        
        .flex-item-1{
            max-height: 120px;
            min-width: 755px;
            font-size:  30px;
            background-color: rgb(28, 146, 185);
            color:white;
            display:flex;
            align-items: center;
            justify-content: center;
           } 